.main-feature {
  position: relative;
}

.feature-cover {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
}

.feature-description-container {
  position: absolute;
  top: 120px;
  left: 0;
  color: white;
  padding-left: 100px;
}

.feature-type {
  color: grey;
}

.feature-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.feature-description {
  width: 800px;
  font-size: 2rem;
}

.feature-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-play-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.btn-more-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}